body{
	background-color: #CBCACB;
}

#aboutPageRow{
	padding-left: 50px;
}

#titlePage{
	text-align: center;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	font-size: 35px;
	line-height: 50px;
	background-color: #808080;
	color: white;
}

.navbar{
	background: white;
	background-color: white;
	color: white;
}

#contactinfo{
	padding-left: 25px;
}

#aboutpic{
	max-width:90%;
	max-height: 90%;
	padding-bottom: 9px;
}

img{
	max-height: 720px;
	max-width: 100%;
}

#featuredProjectImage{
	padding: 15px;
	max-height: 5%;
}

#picLabel{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
 #map{
        height: 400px;
        width: 100%;
}

#dontoverflow{
	overflow-x: hidden;
}

#contactSuccess{
	text-align: center;
	font: 50px;
	font-weight: bold;
	padding-top: 15px;

}

#contactForm{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 25%;
	padding-right: 25%;
}

 #footer{
 	background-color: #064F40;
 	color: white;
 }

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }

a {
cursor: pointer;
}

#blankCol{
	padding: 0px;
	margin: 0px;
}

.outer {
    margin: 20px;
    padding: 10px 10px 0px 10px;
}

.inner {
    width: 80%;
    height: 1px;
    margin: 0px auto;
    border-top: 6px solid #064F40;

}

#pictureTitle {

	font-weight: bold;
	text-align: left;
	font-size: 25px;
}