body{
	background-color: #CBCACB;
}

#aboutPageRow{
	padding-left: 50px;
}

#titlePage{
	text-align: center;
	padding-top: 15px;
	font-size: 35px;
	line-height: 50px;
	font-weight: bold;

}

.navbar{
	background: white;
	background-color: white;
	color: white;
}

#contactinfo{
	padding-left: 25px;
}

#aboutpic{
	max-width:90%;
	max-height: 90%;
}

img{
	max-height: 720px;
	max-width: 100%;
}

#featuredProjectImage{
	padding: 15px;
	max-height: 5%;
}

#picLabel{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}